---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <header class="w-full p-8">
    <div class="rounded-xl w-full flex items-center justify-center py-32 bg-gradient-to-tr from-sky-300 via-cyan-300 to-teal-300">
      <h1 class="text-4xl font-bold text-white">Raahim's Blog</h1>
    </div>
  </header>
</Layout>
