---
import GlobalStyles from "../components/GlobalStyles.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=alata:400" rel="stylesheet" />

		<title>Blog</title>
	</head>
	<body class="relative min-h-screen bg-gray-50">
    <nav class="sticky top-0 left-0 h-20 flex items-center justify-between px-16 bg-gray-50 z-20">
      <a href="" class="text-lg">Raahim Fareed <small class="font-light uppercase">Blog</small></a>
      <div>
        <a href="" class="hover:underline">Home</a>
      </div>
    </nav>
    <main class="p-4">
      <slot />
    </main>
    <GlobalStyles />
	</body>
</html>
